body {
  text-align: center;
padding: 0px;
margin: 0px;
}

.Container-fluid{
  padding: 0px;
  margin: 0px;
}
#search{
  font-family: 'Roboto', sans-serif;
}
/* TITLE */
#title {
  margin-top: 4px;
}
.menu{
font-family: 'Domine', serif;
}
.intro {
  position: relative;
  left: 6px;
}

/* Nav Bar */
#logo {
  margin-top: 20px;
}

.logo-png {
  width: 200px;
  height: auto;
  position: absolute;
  left: 5px;
}

.icon {
  padding: 5px;
}

/* Container-1 */
#c1 {
  font-family: 'Domine', serif;
  background-color: #49111c;
  color: #f2f4f3;
  margin-top: 10px;
  padding: 20px;
  text-align: center;

}

/* Container-2 */
#c2 {
  display: inline-block;
width: 100%;
  padding: 0px;



}

.car-1 {
  width: 100%;
  height: 700px;
}

.car-2 {
  width: 100%;
  height: 700px;
}

.car-3 {
  width: 100%;
  height: 700px;
}

/* Container-3 */
#c3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #edfdfb;
  color: black;
  padding: 25px;
  margin-top: -7px;

}

/* Container-4 */
#c4 {
  font-family: 'Domine', serif;
  text-align: center;
  background-color: #49111c;
  color: white;
  width: 100%;
  padding: 25px 0px;
  margin-top: -7px;
}

/* Container-5 */
#c5 {}

.card-img-top {
  width: 50%;
  height:500px;
}

.btn-group {
  height: 50px;
}
.card-title{
  font-family: 'Roboto', sans-serif;
}
.card-text{
  font-family: 'Rajdhani', sans-serif;
}

/* Container-6 */
#c6 {
font-family: 'Roboto', sans-serif;
  padding: 20px;
}
.card-img-top{
  height: 700px;
}



.inlineList {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 10px;
  margin-right: 10px;
}

.li {
  margin-left: 30px;
}

/* Container-7 */
#c7{
font-family: 'Roboto', sans-serif;
}
.cover{
  width: 100%;
  height:800px;
  border-radius:3%;

}
.text{
  color: white;
  text-align: left;
  position: relative;
  bottom: 750px;
  left: 20px;
}
.text2{
  color:white;
  text-align: left;
  position: relative;
  bottom: 750px;
  left: 20px;
}
.Sign{
  position: relative;
  bottom:700px;
margin-left: 20px;
  align-items: center;
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
Sign:hover {
    color: #001F3F;
    background-color: #fff;
}



/* Container-8 */
#c8{
text-align: center;
margin: auto;
}




/* Container-9 */
#c9{
text-align: center;
}
/* Container-10 */
#c10{
  text-align: center;
  margin-top: 100px;
}
